<header id="header">
	<nav id="utility-nav" aria-label="Utility Menu">
		<div class="container">
			<!-- desktop utility nav -->
			<ul id="utility-menu" class="d-none d-md-block">
				<li><a href="#" class="active">The Carpentries</a></li>
				<li><a href="{{ site.dc_website }}">Data Carpentry</a></li>
				<li><a href="{{ site.sc_website }}">Software Carpentry</a></li>
				<li><a href="{{ site.lc_website }}">Library Carpentry</a></li>
			</ul>
			<!-- mobile utility nav -->
			<div id="utility-form" class="accordion d-block d-md-none shadow-none">
				<div class="accordion-item bg-transparent border-0">
					<h1 class="accordion-header m-0" id="siteSelectorHeader">
						<button class="accordion-button lh-sm fw-bold w-auto collapsed bg-transparent px-0 py-1 text-white mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#sites-list" aria-expanded="false" aria-controls="sites-list">
							The Carpentries
			      </button>
					</h1>
					<div id="sites-list" class="accordion-collapse collapse" aria-labelledby="siteSelectorHeader">
						<div class="d-flex flex-column gap-2">
							<a class="text-white" href="/">Data Carpentry</a>
							<a class="text-white" href="/">Software Carpentry</a>
							<a class="text-white" href="/">Library Carpentry</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<nav id="main-nav" class="navbar navbar-expand-lg" aria-label="Main Menu">
		<div class="container">
			<a href="{{ site.url }}" class="site-logo" aria-label="The Carpentries">{% asset carpentries-logo alt:'' %}</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu-collapse" aria-controls="menu-collapse" aria-expanded="false" aria-label="Menu">
				<span class="navbar-toggler-hamburger">
					<span class="hamburger-line"></span>
					<span class="hamburger-line"></span>
					<span class="hamburger-line"></span>
				</span>
				Menu
			</button>
			<div class="collapse navbar-collapse" id="menu-collapse">
				<ul id="main-menu" class="nav">
					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">About us</a>
						<ul class="dropdown-menu">
							<li><a href="{% link about-us/index.html %}">About The Carpentries</a></li>
                                                        <li><a href="{% link about-us/governance.html %}">Governance</a></li>
                                                        <li><a href="{% link about-us/values.html %}">Values</a></li>
							<li><a href="{% link about-us/impact.html %}">Impact</a></li>
							<li><a href="{% link about-us/team.html %}">Team</a></li>
							<li><a href="{% link about-us/careers.html %}">Careers</a></li>
							<li><a href="{% link about-us/financials.html %}">Financials</a></li>
							<li><a href="{% link about-us/publications.html %}">Publications</a></li>
							<li><a href="{% link about-us/contact-us.html %}">Contact us</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Learn</a>
						<ul class="dropdown-menu">
							<li><a href="#">Lessons</a></li>
							<li><a href="#">Workshops</a></li>
							<li><a href="#">Instructor Training</a></li>
							<li><a href="#">Trainer Training</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Volunteer</a>
						<ul class="dropdown-menu">
							<li><a href="#">Community</a></li>
							<li><a href="#">Get Involved</a></li>
							<li><a href="#">Handbook</a></li>
							<li><a href="#">Newsletter</a></li>
							<li><a href="#">AMY</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Host</a>
						<ul class="dropdown-menu">
							<li><a href="#">Host a workshop</a></li>
							<li><a href="#">Host a training</a></li>
							<li><a href="#">Pricing</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Support</a>
						<ul class="dropdown-menu">
							<li><a href="#">Membership</a></li>
							<li><a href="#">Donate</a></li>
							<li><a href="#">Sponsorship</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a href="{% link blog/blog.html %}" class="nav-link">Blog</a>
					</li>
					<li class="nav-item">
						<a href="#" class="btn btn-ghost nav-link">Donate</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
