#cta-banner {
	background: $sky;
	min-height: 131px;
	text-align: center;
	font-size: 18px;
	line-height: 27px;
	font-weight: 600px;
	padding-top: 24px;
	padding-bottom: 20px;
	@media screen and (max-width: 991px) {
		font-size: 16px;
		line-height: 24px;
	}
	form {
		select {
			background: transparent;
			border: none;
			border-bottom: 1px solid $black;
			color: $black;
			font-weight: 800;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			option {
				font-weight: 700;
			}
		}
		button[type="submit"] {
			margin: 0;
			margin-top: 16px;
		}
		.dropdown-arrow {
			width: 14px;
			height: 7px;
			margin-top: -2px;
			font-weight: 600;
			display: inline-block;
		}
	}
	.cta-dropdown {
		display: inline;
		font-weight: 800;
		color: $black;
		border-bottom: 1px solid $black;
		padding:0;
		text-decoration: none;
		&::after{
			display:none;
		}
		.dropdown-arrow{
			position:absolute; 
			top:10px; 
			right:-20px;
		}
	}
	.cta-dropdown-menu{
		background: $sky;
		border-top:none;
		li{
			margin: 10px 0px 10px 0px;
		}
		a{
			font-size: 14px;
			line-height: 21px;
			padding:15px;
			font-weight: 700;
			color: $black;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
			
		}
	}
}
