.testimonials {
	background: $buttercup;
	padding-top: 60px;
	padding-bottom: 60px;
	#testimonial-carousel {
		button[class*="carousel-control"] {
			opacity: 1;
			width: 31px;
			height: 100px;
			margin-top: auto;
			margin-bottom: auto;
			&:focus {
				outline: 2px blue solid;
			}
			@media screen and (max-width: 767px) {
				display: none;
			}
		}
		.carousel-indicators {
			position: relative;
			margin: 0;
			margin-top: 35px;
			@media screen and (max-width: 767px) {
				margin-top: 15px;
			}
			button {
				height: 8px;
				width: 8px;
				border-radius: 50%;
				background-color: transparent;
				border: 2px solid $black;
				opacity: 1;
				&.active {
					background-color: $black;
				}
			}
		}
		.testimonial {
			.wrapper {
				max-width: 518px;
				margin-left: auto;
				margin-right: auto;
				@media screen and (max-width: 767px) {
					max-width: 343px;
				}
			}
			.testimonial-quote {
				background: $fire;
				max-width: 518px;
				border-radius: 8px;
				padding: 40px;
				position: relative;
				margin-bottom: 50px;
				@media screen and (max-width: 767px) {
					padding: 16px;
				}
				&::after {
					content: '';
					border-left: 20px solid transparent;
					border-right: 20px solid transparent;
					border-top: 20px solid $fire;
					width: 40px;
					display: block;
					position: absolute;
					top: 100%;
					left: 0;
					right: 0;
					margin-left: auto;
					margin-right: auto;
				}
				blockquote {
					color: $buttercup;
					font-size: 24px;
					line-height: 34px;
					font-weight: 700;
					margin-bottom: 0;
					@media screen and (max-width: 767px) {
						font-size: 14px;
						line-height: 20px;
						font-weight: 700;
					}
				}
			}
			.testimonial-author {
				text-align: center;
				.author-image {
					width: 76px;
					height: 76px;
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 20px;
					.blob {
						position: absolute;
					}
					.headshot {
						border-radius: 50%;
						width: 60px;
						height: 60px;
						object-fit: cover;
						position: relative;
						z-index: 1;
					}
				}
				.author-name {
					font-size: 18px;
					line-height: 27px;
					font-weight: 700;
					color: $black;
					display: block;
					margin-bottom: 10px;
					text-decoration: none;
					@media screen and (max-width: 767px) {
						font-size: 16px;
						line-height: 24px;
					}
				}
				.author-bio {
					font-size: 14px;
					line-height: 21px;
					font-weight: 600;
					color: $black;
					max-width: 400px;
					margin-left: auto;
					margin-right: auto;
					@media screen and (max-width: 767px) {
						font-size: 12px;
						line-height: 18px;
					}
				}
			}
		}
	}
}
