//lesson program colors
$general: #FFF7F1;
$general-light: #E3E6FC;
$data: #205959;
$data-light: #40AEAD;
$software: #201434;
$software-light: #D2BDF2;
$library: #A4050E;
$library-light: #F99697;
//alert colors
$info: #3EB8FD;
$success: #9EDE87;
$warning: #FFB17A;
$error: #EB4F36;
//brand colors
$midnight: #001483;
$lake: #0044D7;
$pond: #719EFF;
$sky: #E6F1FF;
$dew: #F5F8FF;
$fog: #E6EAF0;
$mist: #E6EEF8;
$fire: #FF4955;
$sunrise: #FC757E;
$dawn: #FFD6D8;
$golden: #FFC700;
$sunshine: #FFE7A8;
$buttercup: #FFF7F1;
$black: #383838;
$very-dark-gray: #585858;
$dark-gray: #929292;
$medium-gray: #CBCBCB;
$light-gray: #E4E4E4;
$very-light-gray: #F8F8F8;
//lesson temmplate colors
$challenge: #FCE762;
$key-points: #1DC5CE;
$checklist: #0D96F9;
$testimonial: #491997;
$prerequisites: #6320EE;
$intructor-note: #CE1D9D;
$callout: #586F7C;
//code box colors
$input: #3DCBF8;
$warning: #FFB17A;
$error: #EB4F36;
//interactive (lake) shades
$lake: #0044D7;
$lake-50: #BED2FF;
$lake-100: #A4C1FF;
$lake-200: #719EFF;
$lake-300: #3E7BFF;
$lake-400: #0B58FF;
$lake-500: #0044D7;
$lake-600: #0034A4;
$lake-700: #002B66;
$lake-800: #00143E;
$lake-900: #00030B;
//black shades
$black-50: #BDBDBD;
$black-100: #B0B0B0;
$black-200: #979797;
$black-300: #7D7D7D;
$black-400: #646464;
$black-500: #4A4A4A;
$black-600: #313131;
$black-700: #171717;
$black-800: #000000;
$black-900: #000000;
