<div id="cta-banner" class="container-fluid">
	<form action="#">
		<label for="cta-options">I want to</label>
		<span class="nav-item dropdown">
			<a href="#" class="nav-link dropdown-toggle cta-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">host a workshop {% asset chevron-down-black class="dropdown-arrow" alt:'' %}</a>
			<ul class="dropdown-menu cta-dropdown-menu">
				<li><a href="#">Become a volunteer </a></li>
				<li><a href="#">Find a resource</a></li>
				<li><a href="#">Get involved</a></li>
				<li><a href="#">Host a workshop</a></li>
				<li><a href="#">Host a training</a></li>
				<li><a href="#">Learn more about The Carpentries</a></li>
				<li><a href="#">Register a self-organised workshop</a></li>
				<li><a href="#">Sign up for a workshop</a></li>
				<li><a href="#">Sign up for instructor training</a></li>
				<li><a href="#">Support The Carpentries</a></li>
				<li><a href="#">Connect with others</a></li>
				
			</ul>

		</span>
		<br>
		<button type="submit" class="btn btn-primary">Go</button>
	</form>

</div>
