<div class="fifty-fifty">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 image" style="background-image: url({% asset 'fifty-fifty-background.jpg' @path %});">
				<p class="image-caption">Image: Lorem ipsum dolor set lorem dolor</p>
			</div>
			<div class="col-md-6 content">
				<div class="wrapper">
					<h2 class="bigger-mobile">Subscribe to our newsletter</h2>
					<p>Get a roundup of events, updates, and tips twice a month.</p>
					<a href="#" class="btn btn-secondary dark-hover">Subscribe to newsletter</a>
				</div>
			</div>
		</div>
	</div>
</div>
