<div class="fifty-fifty">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 image order-md-last" style="background-image: url({% asset 'fifty-fifty-background.jpg' @path %});">
				<p class="image-caption">Image: Lorem ipsum dolor set lorem dolor</p>
			</div>
			<div class="col-md-6 content order-md-first">
				<div class="wrapper">
					<h2>Our volunteer-led workshops are small, hands on, and interactive.</h2>
					<a href="#" class="btn btn-secondary dark-hover">Find a workshop</a>
				</div>
			</div>
		</div>
	</div>
</div>
