{% assign badges_stats = site.data.badges_stats %}
{% assign n_workshops = site.data.all_past_workshops | size  %}
{% assign n_countries = site.data.all_past_workshops | where_exp: "item", "item.country != 'W3'" | group_by: "country"  %}

{% assign total_volunteers =  badges_stats.n_maintainers | 
							  plus: badges_stats.n_trainers |
							  plus: badges_stats.n_instructors %}

<div class="statistics">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>Our diverse and global community is comprised of</h2>
				</div>
				<div class="col-md-4 stat">
					{% asset blob-left alt:'' %}
					<div class="wrapper">
						<p class="stat-text">More than</p>
						<p class="stat-number">{{ total_volunteers }}</p>
						<p class="stat-text">instructors</p>
					</div>
				</div>
				<div class="col-md-4 stat">
					{% asset blob-middle alt:'' %}
					<div class="wrapper">
						<p class="stat-text">About</p>
						<p class="stat-number">{{ n_workshops | times: 25}}</p>
						<p class="stat-text">learners</p>
					</div>
				</div>
				<div class="col-md-4 stat">
					{% asset blob-right alt:'' %}
					<div class="wrapper">
						<p class="stat-text">More than</p>
						<p class="stat-number">{{ n_countries | size }}</p>
						<p class="stat-text">countries</p>
					</div>
				</div>
				<div class="col-12">
					<a href="#" class="btn btn-secondary">Join our community</a>
				</div>
			</div>
		</div>
	</div>
