{% for statistics in site.data.statistics %}
	<div class="statistics">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>Our diverse community is comprised of</h2>
				</div>
				<div class="col-md-4 stat">
					{% asset blob-left alt:'' %}
					<div class="wrapper">
						<p class="stat-text">More than</p>
						<p class="stat-number">{{ statistics.instructors }}</p>
						<p class="stat-text">instructors</p>
					</div>
				</div>
				<div class="col-md-4 stat">
					{% asset blob-middle alt:'' %}
					<div class="wrapper">
						<p class="stat-text">Almost</p>
						<p class="stat-number">{{ statistics.learners }}</p>
						<p class="stat-text">learners</p>
					</div>
				</div>
				<div class="col-md-4 stat">
					{% asset blob-right alt:'' %}
					<div class="wrapper">
						<p class="stat-text">More than</p>
						<p class="stat-number">{{ statistics.countries }}</p>
						<p class="stat-text">countries</p>
					</div>
				</div>
				<div class="col-12">
					<a href="#" class="btn btn-secondary">Join our community</a>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
