{% assign current_sponsors = site.data.sponsors.sponsors | where: "active", true %}

<div class="supporters">
	<div class="container">
		<div class="row">

			<div class="col-12">
				<div class="heading-wrapper">
					<h2 class="bigger-mobile">Our supporters</h2>
					<p>We are supported by our member organisations, those who sponsor workshops,
					as well as grants and donations from various sources.</p>
				</div>
			</div>

		<div class="col-12">
			<div class="row logo-row">
				{% for sponsor in current_sponsors %}

				<div class="col-6 col-md">
					<a href="#" target="_blank" aria-label="">
						{% asset 'organisation_logos/{{ sponsor.logo }}' alt:'Logo for' %}
					</a>
				</div>

				{% endfor %}

			</div>
		</div>

			<div class="col-12">
				<a href="#" class="btn btn-secondary">Become a supporter</a>
			</div>
		</div>
	</div>
</div>
