<div class="supporters">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="heading-wrapper">
					<h2 class="bigger-mobile">Our supporters</h2>
					<p>We are supported by our member organisations, those who sponsor workshops,
					as well as grants and donations from various sources.</p>
				</div>
			</div>
			<div class="col-12">
				<div class="row logo-row">
					<div class="col-6 col-md">
						<a href="#" target="_blank" aria-label="AWS - opens in new window">
							{% asset aws-logo alt:'' %}
						</a>
					</div>
					<div class="col-6 col-md">
						<a href="#" target="_blank" aria-label="Digitial Ocean - opens in new window">
							{% asset digital-ocean-logo alt:'' %}
						</a>
					</div>
					<div class="col-6 col-md">
						<a href="#" target="_blank" aria-label="Rackspace - opens in new window">
							{% asset rackspace-logo alt:'' %}
						</a>
					</div>
					<div class="col-6 col-md">
						<a href="#" target="_blank" aria-label="Alfred P. Sloan Foundation - opens in new window">
							{% asset alfred-sloan-logo alt:'' %}
						</a>
					</div>
					<div class="col-6 col-md">
						<a href="#" target="_blank" aria-label="Biotech Partners - opens in new window">
							{% asset biotech-partners-logo alt:'' %}
						</a>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row logo-row">
					<div class="col-6 col-md">
						<a href="#" target="_blank" aria-label="R Consortium - opens in new window">
							{% asset r-consortium-logo alt:'' %}
						</a>
					</div>
					<div class="col-6 col-md">
						<a href="#" target="_blank" aria-label="Mozilla - opens in new window">
							{% asset mozilla-logo alt:'' %}
						</a>
					</div>
					<div class="col-6 col-md">
						<a href="#" target="_blank" aria-label="Gordon and Betty Moore Foundation - opens in new window">
							{% asset moore-logo alt:'' %}
						</a>
					</div>
					<div class="col-6 col-md">
						<a href="#" target="_blank" aria-label="California Digital Library - opens in new window">
							{% asset cdl-logo alt:'' %}
						</a>
					</div>
					<div class="col-6 col-md">
						<a href="#" target="_blank" aria-label="Chan Zuckerberg Initiative - opens in new window">
							{% asset chan-zuck-logo alt:'' %}
						</a>
					</div>
					<div class="col-6 col-md">
						<a href="#" target="_blank" aria-label="R Studio - opens in new window">
							{% asset r-studio-logo alt:'' %}
						</a>
					</div>
				</div>
			</div>
			<div class="col-12">
				<a href="#" class="btn btn-secondary">Become a supporter</a>
			</div>
		</div>
	</div>
</div>
