<!doctype html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% asset styles %}
		{% asset scripts %}
		{% include parts/favicon.html %}
	</head>
	<body>
		<a href="#main" class="skip-link">Skip to main</a>
		{% include header.html %}
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					{% include parts/breadcrumbs.html %}
					<h1 class="page-title">{{ page.breadcrumb }}</h1>
					<ul class="nav nav-tabs section-tabs sub-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{% link workshops/index.html %}">Workshops</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% link workshops/host-workshop.html %}">Host a workshop</a>
						</li>
						<li class="nav-item">
							<a class="nav-link"  href="#">Curricula</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Browse lessons</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<main id="main">
						{{ content }}
					</main>
				</div>
				<div class="col-md-4 sidebar-wrapper">
					<a href="#footer" class="skip-link aside visually-hidden-focusable">Skip sidebar</a>
					{% include components/puller.html %}
					<aside id="main-sidebar" aria-label="Main Sidebar" class="sidebar" tabindex="-1" >
						<div class="offcanvas-header justify-content-end d-black d-md-none">
							<button type="button" class="btn-close text-reset d-block d-md-none" data-bs-toggle="offcanvas" data-bs-target="#main-sidebar" aria-controls="main-sidebar" aria-label="Close"></button>
						</div>
						{% include sidebars/workshop_index.html %}
					</aside>
				</div>
			</div>
		</div>
		{% include footer.html %}
	</body>
	</html>
